table.centerforsomereason { border-spacing: 0; }

#div_menu
{
	margin: 0 0 20px 0;
	background: #FCA72D;
	background: linear-gradient(to bottom, rgb(252, 167, 45) 30%, rgb(225, 134, 6) 80%);
}
.centro
{
	text-align: center;
	vertical-align: middle;
    font-size: 18px;
}

.button
{
	color: #FFFFFF;
	font: bold 90% Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding: 9px 1%;
	position: relative;
	display: inline-block;
	transition: border-color .220s;
}

.button:hover
{
	border-color: #FCA72D;
	background: linear-gradient(to bottom, #FDBC62 40%, #FCC576 70%);
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15), -10px 5px 5px rgba(0, 0, 0, 0.15);
}

.button:active
{
	border-color: #FCA72D;
	background: linear-gradient(to bottom, #FFCA81 40%, #FFCD86 70%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.ativo
{
	font-size: 90%;
	color: #FFF;
	border-color: #FCA72D;
	background: linear-gradient(to bottom, #FAC275 40%, #FFD598 70%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}